body{
    column-gap: 15px;
    row-gap: 15px;
    margin: 0%;
    padding: 0%;
    height: 100vh;
    background-color: #213435;
    display:grid;
    grid-template-columns: 1fr 3fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.encabezado{
    align-items: center;
    gap: 12px;
    display: flex;
    list-style: none;
    grid-column: 1/6;
    grid-row: 1;
    background-color: #46685b;
}
.nav{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    padding: 50px;
    font-size: 20px;
    height: 3;
}
input{
    display: flex;
    height: 25px;
    width: 250px;
    
}
.encabezado ul{
    padding: 50px;
    gap: 12px;
    display: flex;
    width: 75%;
    height: 20px;
    list-style: none;
    justify-content:flex-end;
}
.barra-lateral{
    display: flex;
    border: 8px solid #213435;
    
    gap: 10px;
    flex-direction: column;
    background-color:#e1e3ac;
    grid-column: 1;
    grid-row: 2/3;
}
.doc{
    border:2px solid #213435;
    padding: 20px;
    margin-top: 12px;
    margin: 12px;
}
.doc_plus{
    border:2px solid #213435;
    padding: 20px;
    margin-top: 12px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 12px;
}
.container{
    border: 2px solid black;

}
.seccion_clinicas{
    grid-column: 2/4;
    grid-row: 4;
}
.seccion_documentos{
    grid-column: 2/3;
    grid-row: 3/4;
}
.container{
    border: 8px solid#213435;
    gap: 18px;
    padding: 22px;
    background-color:#e1e3ac;
}
main img{
    border: solid #46685b;
    height: 150px;
    width: 200px
}
.pie-pagina{
    border-top:18px solid#213435;
    display: flex;
    padding: 10px;
    background-color: #648a64;
    grid-column: 1/6;
    grid-row: 5;
}
.pie-pagina .cosos2{
    display: flex;
    justify-content: start;
    width: 50%;
    height: 20px;
}